<div class="footer">
  <div class="footer-airfun">
    <h4> Air Fun </h4>
    <p>Le spécialiste de la location <br>d'attractions en France</p>
  </div>
  <div class="footer-informations">
    <h4> Informations </h4>
    <p>Mentions légales</p>
    <p>Conditions générales de vente</p>
  </div>
  <div class="footer-social">
    <h4> Suivez-nous </h4>
    <p><i class="fab fa-facebook-f"></i> Facebook</p>
    <p><i class="fab fa-instagram"></i> Instagram</p>
  </div>
  <div class="footer-contact">
    <h4>Contactez-nous</h4>
    <p><i class="fas fa-phone"></i> 01 23 34 56 78</p>
    <p><i class="fas fa-envelope"></i> contact@airfun.com</p>
  </div>
</div>
