<div class="nav-banner" style="background-image: linear-gradient(225deg, rgba(0,151,168,0.2) 10%, rgba(10,40,40,0.4) 20%), url('https://images.unsplash.com/photo-1507836127377-5757cd3e6e6b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=45eee82a771bfc3b50ea9f04e7d5d9b1&auto=format&fit=crop&w=1052&q=80');">
  <div class="banner">
    <div class="banner-content">
      <h1 class="text-shadow">Louez une attraction.</h1>
      <div class="form">
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Localisation ?">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="date ?">
          </div>
          <%= link_to "Rechercher", attractions_path , class:"btn-search btn-lg"%>
        </form>
      </div>
    </div>
  </div>
</div>




