.btn {
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 13px;
  color: white;
}

.btn-owner {
  margin-left: 20px;
}

.btn-search {
  background-color: #244F5A;
  color: white;
  font-size: 14px
}

.btn-search:hover, .btn-owner:hover {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  transition: 0.5s ease;
}

.i-btn{
  font-size:18px;
  color:#244F5A;
}

