 .btn {
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 13px;
  color: white;
}

.btn-owner {
  margin-left: 30px;
  font-size: 13px;
}

.btn-search {
  background-color: #ec5a70;
  color: white;
  font-size: 14px;
  &:hover {
    opacity: 0.8;
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
  }
}

.btn-login {
  color: white;
  font-size: 16px;
  border-left: 2px solid white;
}

.btn-login:hover, .btn-owner:hover {
  color: #ec5a70;
  border-color: #ec5a70;
  transition: 0.5s ease;
}

.i-btn{
  font-size:18px;
  color:#244F5A;
}
