.attraction-path{
  color: black;
  font-weight: bolder;
  margin: 20px 0px 20px 20px;

}

.main-container{
  display: flex;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 320px 70px 500px;
  margin: 5px 20px;
}

.attraction-image-profil {
  grid-row : 1 / span 1;
  grid-column : 1 / span 2;
  width: 320px;
}

.attraction-image-profil img{
  width: 320px;
  margin: 5px 0px;
  border-radius: 10px;
}

.attraction-main-description{
  grid-row : 1 / span 1;
  grid-column: 3 /span 2;
  color: rgb(100,100,100);
}

#attraction-profil-capacity{
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  // text-align: center;
}

#attraction-profil-price{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  margin-left: 15px;
}

#attraction-profil-place{
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
}

#attraction-profil-owner{
  grid-row: 2 / span 1;
  grid-column: 4 / span 1;
}

#attraction-profil-description{
  grid-row: 3 / span 1;
  grid-column: 1 / span 4;
}

#attraction-reservation{
  padding : 20px;
  flex-direction: column;
  display: flex;
  font-size : 25px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 1px 1px 3px;
  flex: 0 0 300px;
  height: 300px;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  background-color: rgb(270,270,270)
}

#attraction-reservation p{
  font-weight: 600px;
}

.flatpickr {
  width: 90%;
  font-size: 18px;
  text-align: center;
}

.flatpickr-calendar {
  margin: auto;
}


#attraction-reservation{
  height: 500px;
  text-align: center;
  h2 {
    margin: 0px;
  }
}

.margin-i {
  margin-right: 10px;
}

