<h1>Editing person</h1>

    <%= render 'shared/form' %>

<div class="btn btn-primary">
<%= link_to 'Show', attraction_path(@attraction) %>
|</div>
<div class="btn btn-primary">
<%= link_to 'Back', attractions_path %>
</div>
